.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  width: 720px;
  padding: 0;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    width: 100%;
  }
}