.lead__image {
  margin-top: 64px;
  width: 984px;
}

@media screen and (max-width: 1280px) {
  .lead__image {
    margin-top: 56px;
    width: 928px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: -webkit-fill-available;
    margin-right: -24px;
    margin-left: -24px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-top: 40px;
  }
}